<div id="app container">
  <nav class="navbar">
    <div class="col-md-6 col-md-offset-3">
      <search onkey="$ctrl.updateonchange" onsearch="$ctrl.onsearch" onautoplay="$ctrl.onautoplay">
      </search>
        <select ng-options="value for value in $ctrl.videolengthoptions" ng-model="$ctrl.numberonpage">
        </select>
        <p id = 'line'>Videos per page  &nbsp;</p>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-7">
      <video-player currentvideo="$ctrl.currentvideo" autoplay="$ctrl.autoplay"></video-player>
    </div>
    <div class="col-md-5">
      <video-list toshowvideos="$ctrl.toshowvideos" onclicktitle="$ctrl.onclicktitle" onpagination="$ctrl.onpagination" numberpages="$ctrl.numberpages"></video-list>
    </div>  
  </div>
</div>
